.App {
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 10vh;
  padding-left: 10vh;
  padding-right: 10vh;
  background-color:white; 
}

.App-header {
  background-color: #e99c50;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

h5 {
  text-align: left;
  font-style: italic;
}

p {
  text-align: left;
}

.photo {
  padding: 15px;
  padding-bottom: 25px;
}

.resize-photo {
  width: 40%;
  height: 40%;
}

.resize-big {
  width: 60%;
  height: 60%;
}

h4 {
  text-align: left;
}
